

.button-group {
    margin: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button-group button {
    padding: 13px 60px;
    font-size: 16px;
    border: none;
    background-color: #d7e6fd;
    color: #1d4c7e;
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.button-group button.active {
    background-color: #1d4c7e;
    color: #fff;
}

.content-container {
    display: flex;
    justify-content:space-around;
    margin:60px auto 30px auto;
    max-width:80%;
    padding: 20px;
}
.content-container .image{
    flex:50%
}
.content-container .image img {
    max-width:80%;
    height: auto;
}

.content-container .text {
    flex: 50%;
    text-align: left;
    margin-top: 20px;
    line-height: 1.6;
}

.content-container .text h2 {
    font-size: 33px;
    color:gold;
    font-weight:700;
        margin-top: 15px;

}

.content-container .text p {
    font-size: 33px;
    color:black;
    font-weight:700;
    margin-top: 15px;
}
@media (max-width: 768px) {
    .content-container {
        flex-direction: column;
        text-align: center;
        max-width:100%;
    }
    .button-group button {
        padding: 10px 15px;
    }
    .content-container .text {
        text-align: center;
    }

}